body {
	font-family:"Nunito",sans-serif;
	background-color: #dd4455;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

button {
	width: 100%;
	background: #33ee55;
	color: #ffffff;
	font-weight: 700;
	font-size: 2rem;
	cursor:pointer;
	display: block;
	outline: none;
	transition: all .1s ease;
	padding: 1rem;
	border: 0;
	text-transform: uppercase;
}

button:hover {
	background: #22dd55;
}

img {
	display: block;
	width:300px;
	outline: none;
}
